/**
 * @name Star Theme
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://cdn.discordapp.com/attachments/1104119578117816443/1104257625757077506/stars.jpg');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 1;
  --homeImage: url('https://cdn.discordapp.com/attachments/1104119578117816443/1104262436036558908/Z.png');
  --homeImageSize: cover;
  --themeColor1: #1900FF;
  --themeColor2: #FF0000;
  --customFont: Roboto Condensed;
  --backgroundCode: rgb(255,0,0,0.5);
  --backgroundName: rgb(2,0,255,0.5);
}

/* Any custom CSS below here */


